body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  background-color: #ffefe7;
  font-family: "IBM Plex Sans", sans-serif;
}

nav {
  display: flex;
  justify-content: space-between;
  background-color: #ffefe7;
  width: auto;
  height: 100px;
  color: #7c6a0a;
  padding: 15px;
}
nav p {
  font-size: 1.5em;
  padding-left: 30px;
}
nav .icons {
  display: flex;
  gap: 15px;
}
nav .icons button {
  background: none;
  border-style: none;
}

@media (max-width: 760px) {
  nav {
    padding: 10;
  }
  nav p {
    font-size: 1.3em;
    padding-left: 20px;
  }
  nav .iconss {
    display: flex;
    gap: 10px;
    width: 26px;
    height: 26px;
    margin-bottom: 25px;
  }
}
article {
  display: flex;
  color: #7c6a0a;
  width: auto;
  padding-left: 45px;
  padding-right: 45px;
  justify-content: space-between;
  padding-top: 70px;
}
article .impact-section {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding-top: 50px;
}
article h1 {
  font-size: 3em;
  padding: 0px;
  margin: 0px;
}
article p {
  font-size: 1.5em;
}
article button {
  padding: 20px;
  background-color: orange;
  border-radius: 35px;
  border-style: none;
  color: white;
  font-size: 1em;
  transition: transform 0.2s;
}
article button:hover {
  transform: scale(1.1);
}
article img {
  width: 300px;
  height: 350px;
  border-radius: 19px;
  margin-top: 50px;
}

@media (max-width: 760px) {
  article {
    display: flex;
    color: #7c6a0a;
    width: auto;
    flex-direction: column;
    justify-content: center;
    margin: 0 25px 50px;
    padding: 0 10px;
  }
  article .impact-section {
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding-top: 20px;
  }
  article h1 {
    font-size: 2em;
    padding: 0px;
    margin: 0px;
  }
  article p {
    font-size: 1.3em;
  }
  article button {
    background-color: orange;
    border-radius: 20px;
    border-style: none;
    color: white;
    font-size: 1em;
    transition: transform 0.2s;
  }
  article button:hover {
    transform: scale(1.1);
  }
  article img {
    width: 280px;
    margin: 50px auto;
    display: block;
    border-radius: 19px;
  }
}
section {
  width: auto;
  height: auto;
  padding: 0 60px;
}
section h2 {
  color: #7c6a0a;
  font-size: 2em;
}
section .healthcare, section .furniture {
  padding-bottom: 60px;
}
section .healthcare h2, section .furniture h2 {
  font-weight: 300;
  padding-bottom: 60px;
}
section .healthcare .card-section, section .furniture .card-section {
  display: flex;
  width: auto;
  height: auto;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 200px;
       column-gap: 200px;
  row-gap: 80px;
}
section .healthcare .card-section .product-card, section .furniture .card-section .product-card {
  width: 200px;
  height: 400px;
  background-color: #ffdac6;
  color: #7c6a0a;
  padding: 20px;
  border-radius: 8px;
}
section .healthcare .card-section .product-card .icon, section .furniture .card-section .product-card .icon {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding-bottom: 12px;
}
section .healthcare .card-section .product-card .icon svg, section .furniture .card-section .product-card .icon svg {
  width: 24px;
  height: 24px;
}
section .healthcare .card-section .product-card .product-image, section .furniture .card-section .product-card .product-image {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
section .healthcare .card-section .product-card .product-image img, section .furniture .card-section .product-card .product-image img {
  width: 200px;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 6px;
}
section .furniture .card-section .product-card {
  background-color: #babd8d;
  color: white;
}

@media (max-width: 760px) {
  section {
    width: auto;
    height: auto;
    padding: 0 30px;
  }
  section h2 {
    color: #7c6a0a;
    font-size: 1.3em;
  }
  section .healthcare .card-section .product-card, section .furniture .card-section .product-card {
    width: 260px;
    height: 400px;
  }
  section .healthcare .card-section .product-card .product-image img, section .furniture .card-section .product-card .product-image img {
    width: 230px;
    height: 250px;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 6px;
  }
  section .furniture .product-card {
    width: 260px;
    height: 400px;
  }
  section .furniture .product-card .product-image img {
    width: 230px;
    height: 250px;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 6px;
  }
}
.about-us {
  padding-bottom: 60px;
}
.about-us h2 {
  font-weight: bold;
  padding: 60px;
}
.about-us .mission-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 100px;
}
.about-us .mission-section .earth, .about-us .mission-section .innovation {
  width: 30vw;
  display: flex;
  gap: 30px;
  color: #e86424;
}
.about-us .mission-section .earth img, .about-us .mission-section .innovation img {
  -o-object-fit: contain;
     object-fit: contain;
}
.about-us .mission-section .earth p, .about-us .mission-section .innovation p {
  text-align: center;
  font-size: 1.5em;
}
@media (max-width: 720px) {
  .about-us h2 {
    font-weight: bold;
    padding: 30px;
    font-size: 1.3em;
  }
  .about-us .mission-section {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 100px;
  }
  .about-us .mission-section .earth, .about-us .mission-section .innovation {
    width: 10vw;
    display: flex;
    gap: 10px;
    color: #e86424;
  }
  .about-us .mission-section .earth img, .about-us .mission-section .innovation img {
    -o-object-fit: contain;
       object-fit: contain;
    width: 80px;
    margin: 0 20px;
  }
  .about-us .mission-section .earth p, .about-us .mission-section .innovation p {
    text-align: center;
    font-size: 1.1em;
    padding: 10px;
    margin: 10px 10px;
  }
}
.gallery h2 {
  font-weight: bold;
  padding-bottom: 60px;
}
.gallery .gallery-images {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.gallery .gallery-images img {
  width: 28vw;
  height: 45vh;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 5px 35%;
     object-position: 5px 35%;
  border-radius: 16px;
  transition: transform 0.2s;
}
.gallery .gallery-images img:hover {
  transform: scale(1.1);
}

@media (max-width: 720px) {
  .gallery h2 {
    padding-bottom: 60px;
  }
  .gallery .gallery-images {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
  .gallery .gallery-images img {
    width: 100px;
    height: 250px;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: 5px 35%;
       object-position: 5px 35%;
    border-radius: 16px;
    transition: transform 0.2s;
  }
  .gallery .gallery-images img:hover {
    transform: scale(1.1);
  }
}
.location {
  color: #e86424;
}
.location h2 {
  padding-bottom: 60px;
  padding-top: 60px;
}
.location .map {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
}
.location h3,
.location p {
  font-size: 1.5em;
}

@media (max-width: 720px) {
  .location {
    color: #e86424;
  }
  .location h2 {
    padding-bottom: 60px;
    padding-top: 60px;
  }
  .location .map {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
  }
  .location .map img {
    width: 100%;
    background-size: cover;
  }
  .location h3 {
    font-size: 1.3em;
  }
  .location p {
    font-size: 1.1em;
  }
}
footer {
  background-color: orange;
  padding: 40px;
  color: white;
}
footer .social-media {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding-bottom: 40px;
}/*# sourceMappingURL=main.css.map */